html, body {
    height: 100%; 
}

body{
    margin: 0;
}

nav {
    position: absolute;
    color: white;
    width: 100%;
}

li {
    display: inline-flex;
    color: black;
}

.container {
    height: 80%;
    padding 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-logo {

}

.google-search-bar {
    margin-top: 20px;
    width: 550px;
    border-radius: 25px;
    border-color: white;
    height: 40px;
    font-size: 20px;
    padding: 10px 20px;
    background-image: url(https://image.flaticon.com/icons/svg/483/483356.svg);
    background-repeat: no-repeat;
    background-position: left top; padding-left: 15px;
}


.google-search-buttons {
    display: flex;
    flex-direction: row;
}

button {
    margin-left: 15%;
}

